{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": false,
  "semi": true,
  "printWidth": 100
}
