.not-found__go-back-link {
  display: flex;

  gap: 10px;

  align-items: center;

  text-transform: uppercase;
}

.not-found__title {
  display: flex;

  flex-direction: column;

  align-items: center;

  font-family:
    Ubuntu Mono,
    sans-serif;
  font-size: 128px;
  line-height: 1em;
  text-transform: uppercase;
}

.not-found__code_central {
  display: flex;

  align-items: flex-end;

  height: 215px;
}

.not-found__go-back-button {
  position: 'absolute';
  bottom: 0;
  left: 0;

  margin-top: '-50px';
}
